**The data and task belongs to the IBM "Professional Data Analytics Course"**

**By Kurosh Karimi**

The result of a developer survey is deposited in the following link.

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

**Task:**
(a) Identify duplicate values in the dataset; find the dimensions of duplicated dataframe and extract duplicated dataframe

(b) Remove duplicate values from the dataset.

(c) Identify the number of missing values in all columns, and the number of missing values in "WorkLoc" column.

(d) Impute the missing values in the dataset; Find the frequency of values for the column WorkLoc, Identify the value that is most frequent (majority) in the WorkLoc column. Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority. Verify if imputing was successful.

(e) Normalize data in the dataset; There are two columns in the dataset that talk about compensation. One is "CompFreq" showing how often a developer is paid (Yearly, Monthly, Weekly). The other is "CompTotal" talking about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". This makes it difficult to compare the total compensation of the developers. Create a new column called "NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv(url)
df.head(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

(a) Identifying the shap of the duplicate dataframe and its extraction

In [8]:
df[df.duplicated()].shape

(154, 85)

In [9]:
df_duplicated = df[df.duplicated()]

(b) Removal of duplicated rows:

In [14]:
df_without_duplicates = df.drop_duplicates()

# We can verify if the duplicate rows are omitted
df_without_duplicates[df_without_duplicates.duplicated()]

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

(c) Identifying the number of missing values

In [16]:
number_of_missing_values = df_without_duplicates.isnull().sum()
number_of_missing_values

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Number of missing rows in the column 'WorkLoc'

In [17]:
number_of_missing_values['WorkLoc']

32

(d) Finding the frequency of values in WorkLoc column

In [22]:
value_frequency = df_without_duplicates['WorkLoc'].value_counts()
value_frequency

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

In [26]:
value_frequency.index

Index(['Office', 'Home', 'Other place, such as a coworking space or cafe'], dtype='object', name='WorkLoc')

Identifying the most frequent word and its index

In [27]:
MAX = [value_frequency.idxmax(), value_frequency.max()]
MAX

['Office', 6806]

Impute all the empty rows in the column WorkLoc with the value that you have identified as majority

In [29]:
modified_workloc = df_without_duplicates['WorkLoc'].fillna(MAX[0])
modified_workloc

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

Verify if imputing was successful

In [30]:
modified_workloc.isnull().sum()

0

(e) First take a look at the required columns:

In [34]:
df_without_duplicates[["CompFreq", "CompTotal"]].head()

  CompFreq  CompTotal
0   Yearly    61000.0
1   Yearly   138000.0
2   Yearly    90000.0
3  Monthly    29000.0
4   Yearly    90000.0

In [35]:
def normalization(freq, sum):
    if freq=='Weakly':
        total_sum = 52*sum
    elif freq == 'Monthly':
        total_sum = 12*sum
    else:
        total_sum = sum
    return total_sum

In [70]:
df_without_duplicates.loc[:, "NormalizedAnnualCompensation"] = df_without_duplicates.apply(lambda row:
                                                                                    normalization(row["CompFreq"], row["CompTotal"]), axis=1)

In [71]:
df_without_duplicates.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0